# Unity folders (relative to this git repo root)
/BSA/[Ll]ibrary/
/BSA/[Tt]emp/
/BSA/[Oo]bj/
/BSA/[Bb]uild/
/BSA/[Bb]uilds/
/BSA/[Ll]ogs/
/BSA/[Uu]ser[Ss]ettings/
/BSA/[Mm]emoryCaptures/
/BSA/[Rr]ecordings/

# Uncomment if ignoring Asset Store tools
# /BSA/[Aa]ssets/AssetStoreTools*

# JetBrains Rider
/BSA/[Aa]ssets/Plugins/Editor/JetBrains*

# IDE files (still apply globally, not Unity-specific)
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash/system
/BSA/sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Addressables
/BSA/Assets/AddressableAssetsData/*/*.bin*

# StreamingAssets
/BSA/Assets/StreamingAssets/aa.meta
/BSA/Assets/StreamingAssets/aa/*
